AI Health Web App.json
{
  "name": "AI Health Web App",
  "nodes": [
    {
      "parameters": {
        "multipleMethods": true,
        "httpMethod": [
          "POST"
        ],
        "path": "health-app",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "e6e9100a-b48f-49f8-a0ae-bc1d02a63db3",
      "name": "Health App Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        256,
        304
      ],
      "webhookId": "0546fd34-1c8d-4f47-a82d-6545d7b4fd8f"
    },
    {
      "parameters": {
        "jsCode": "const weight = $input.first().json.body.weight;\nconst height = $input.first().json.body.height / 100; // convert cm to meters\nconst bmi = (weight / (height * height)).toFixed(2);\n\nlet category = '';\nif (bmi < 18.5) {\n  category = 'Underweight';\n} else if (bmi >= 18.5 && bmi < 25) {\n  category = 'Normal Weight';\n} else if (bmi >= 25 && bmi < 30) {\n  category = 'Overweight';\n} else {\n  category = 'Obese';\n}\n\nreturn [{\n  json: {\n    ...($input.first().json.body),\n    bmi: parseFloat(bmi),\n    bmiCategory: category\n  }\n}];"
      },
      "id": "0aa378cc-536b-4e8a-91a0-c60e8f82f9fb",
      "name": "Calculate BMI",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        464,
        304
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a professional health and wellness advisor. Based on the following user data, provide comprehensive personalized recommendations:\n\nUser Profile:\n- Weight: {{ $json.weight }} kg\n- Height: {{ $json.height }} cm\n- Age: {{ $json.age }} years\n- Gender: {{ $json.gender }}\n- Activity Level: {{ $json.activityLevel }}\n- Goals: {{ $json.goals }}\n- BMI: {{ $json.bmi }}\n- BMI Category: {{ $json.bmiCategory }}\n\nProvide:\n1. BMI value and category (already calculated: {{ $json.bmi }}, {{ $json.bmiCategory }})\n2. Detailed meal plan (breakfast, lunch, dinner, snacks) tailored to their BMI and goals\n3. Weekly workout routine (7 days) appropriate for their fitness level and BMI category\n4. Daily water intake recommendation in liters\n5. Meditation practices (morning and evening routines with techniques)\n6. Additional health tips specific to their condition\n\nMake recommendations practical, achievable, and safe for their health condition.",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are an expert health and wellness advisor specializing in personalized nutrition, fitness, and mindfulness recommendations. Always provide evidence-based advice tailored to the individual's BMI, age, gender, and activity level."
        }
      },
      "id": "fb9fb165-a84f-4775-8e38-b12b1b43e859",
      "name": "Health Recommendation Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        688,
        304
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "id": "2a4bf13d-5a1b-4028-8703-83bc85627627",
      "name": "OpenAI Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        704,
        528
      ],
      "credentials": {
        "openAiApi": {
          "id": "Wo1caSas1tggnNHW",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n\t\"type\": \"object\",\n\t\"properties\": {\n\t\t\"bmi\": {\n\t\t\t\"type\": \"number\",\n\t\t\t\"description\": \"BMI value\"\n\t\t},\n\t\t\"bmiCategory\": {\n\t\t\t\"type\": \"string\",\n\t\t\t\"description\": \"BMI category (Underweight, Normal, Overweight, Obese)\"\n\t\t},\n\t\t\"mealPlan\": {\n\t\t\t\"type\": \"object\",\n\t\t\t\"properties\": {\n\t\t\t\t\"breakfast\": { \"type\": \"string\" },\n\t\t\t\t\"lunch\": { \"type\": \"string\" },\n\t\t\t\t\"dinner\": { \"type\": \"string\" },\n\t\t\t\t\"snacks\": { \"type\": \"string\" }\n\t\t\t}\n\t\t},\n\t\t\"workoutRoutine\": {\n\t\t\t\"type\": \"array\",\n\t\t\t\"items\": {\n\t\t\t\t\"type\": \"object\",\n\t\t\t\t\"properties\": {\n\t\t\t\t\t\"day\": { \"type\": \"string\" },\n\t\t\t\t\t\"exercises\": { \"type\": \"string\" }\n\t\t\t\t}\n\t\t\t}\n\t\t},\n\t\t\"waterIntake\": {\n\t\t\t\"type\": \"string\",\n\t\t\t\"description\": \"Daily water intake recommendation\"\n\t\t},\n\t\t\"meditation\": {\n\t\t\t\"type\": \"object\",\n\t\t\t\"properties\": {\n\t\t\t\t\"morning\": { \"type\": \"string\" },\n\t\t\t\t\"evening\": { \"type\": \"string\" }\n\t\t\t}\n\t\t},\n\t\t\"healthTips\": {\n\t\t\t\"type\": \"array\",\n\t\t\t\"items\": { \"type\": \"string\" }\n\t\t}\n\t}\n}"
      },
      "id": "3d28e47b-c4d7-4dc7-8aeb-8ff5ee3b79eb",
      "name": "Health Data Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        832,
        528
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json.output }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "GET, POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type, Authorization"
              }
            ]
          }
        }
      },
      "id": "24257c25-7bca-4437-9a94-596d0486bd09",
      "name": "Send Health Recommendations",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1040,
        304
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Health App Webhook": {
      "main": [
        [
          {
            "node": "Calculate BMI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate BMI": {
      "main": [
        [
          {
            "node": "Health Recommendation Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Health Recommendation Agent": {
      "main": [
        [
          {
            "node": "Send Health Recommendations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Model": {
      "ai_languageModel": [
        [
          {
            "node": "Health Recommendation Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Health Data Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Health Recommendation Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "6e6056fa-8c7d-44f8-84bf-03f27865c606",
  "meta": {
    "instanceId": "f2ff8dd5eafe9f0b924ebb34b200dfdfe7f0a2c98463a2a55b9024967d7a8111"
  },
  "id": "30feUNHJVLLEi7lU",
  "tags": []
}